body {
    background-image:linear-gradient(#6C757D, #D6CBCB);
    background-repeat: no-repeat;
    background-size:cover;
}

.title {
    font-size: 37px;
    text-align: center;
}

.navbar {
    position: fixed;
    top:0;
    width:100%;
    overflow:hidden;  
}

.navbar a{
    float: left;
    display: block;
    color: #F8EDEB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 1s ease-out 100ms
}

.navbar a:hover{
    color: #FEC89A
}

.main {
    margin-top: 30px;
  }

