.grid-container {
<<<<<<< HEAD
    display: inline-grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 500px 500px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    float: left;
  }
  .tributeStat {
    text-align: center;
    float: left;
    width: 43%;
    padding: 5px;
    background-color: blue;
    margin: 5px 5px 5px 5px;
  }
  
  .text {
    font-size: 20px;
    color: white;
  }
  
  .gridHeader {
    font-size: 50px;
  }

  .nav {
    background-color: blue;
    overflow: hidden;
  }

  .nav a {
    float:left;
    color: cyan;
    text-align: center;
    padding: 10px 10px;
    font-size: 20px;
  }
=======
  display: inline-grid;
  gap: 10px;
  grid-auto-flow: column;
  grid-auto-columns: 500px 500px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
  float: left;
}
.tributeStat {
  text-align: center;
  float: left;
  width: 43%;
  padding: 5px;
  background-color: blue;
  margin: 5px 5px 5px 5px;
}

.text {
  font-size: 20px;
  color: white;
}

.gridHeader {
  font-size: 50px;
}
>>>>>>> 90aeea15cb5f80cf38190c9fa4c82c173541b687
